:root {
    --ion-background-color: #D5BD9C;
    --ion-background-color-rgb: 213,189,156;

    --ion-text-color: black;
    --ion-text-color-rgb: 0,0,11;

    --ion-text-color-step-50: #0b0912;
    --ion-text-color-step-100: #15131a;
    --ion-text-color-step-150: #201c21;
    --ion-text-color-step-200: #2b2628;
    --ion-text-color-step-250: #352f2f;
    --ion-text-color-step-300: #403937;
    --ion-text-color-step-350: #4b423e;
    --ion-text-color-step-400: #554c45;
    --ion-text-color-step-450: #60554c;
    --ion-text-color-step-500: #6b5f54;
    --ion-text-color-step-550: #75685b;
    --ion-text-color-step-600: #807162;
    --ion-text-color-step-650: #8a7b69;
    --ion-text-color-step-700: #958470;
    --ion-text-color-step-750: #a08e78;
    --ion-text-color-step-800: #aa977f;
    --ion-text-color-step-850: #b5a186;
    --ion-text-color-step-900: #c0aa8e;
    --ion-text-color-step-950: #cab495;

    --ion-background-color-step-50: #cab495;
    --ion-background-color-step-100: #c0aa8e;
    --ion-background-color-step-150: #b5a186;
    --ion-background-color-step-200: #aa977f;
    --ion-background-color-step-250: #a08e78;
    --ion-background-color-step-300: #958470;
    --ion-background-color-step-350: #8a7b69;
    --ion-background-color-step-400: #807162;
    --ion-background-color-step-450: #75685b;
    --ion-background-color-step-500: #6b5f54;
    --ion-background-color-step-550: #60554c;
    --ion-background-color-step-600: #554c45;
    --ion-background-color-step-650: #4b423e;
    --ion-background-color-step-700: #403937;
    --ion-background-color-step-750: #352f2f;
    --ion-background-color-step-800: #2b2628;
    --ion-background-color-step-850: #201c21;
    --ion-background-color-step-900: #151319;
    --ion-background-color-step-950: #0b0912;


    --ion-color-primary: #AA6D1C;
    --ion-color-primary-rgb: 170,109,28;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #966019;
    --ion-color-primary-tint: #b37c33;

    --ion-color-secondary: #AA6D1C;
    --ion-color-secondary-rgb: 170,109,28;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #966019;
    --ion-color-secondary-tint: #b37c33;

    ion-content {
        --background: #fff url('../assets/background-image.png') no-repeat center center / cover;
    }

    ion-menu ion-content {
        --background: var(--ion-background-color);
    }
}